<a href="https://colab.research.google.com/github/Zacarias-Pereira/Co2_emisiones/blob/main/Cheat_sheet_for_Google_Colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# PASO 1: Importar librerías necesarias
import pandas as pd

# PASO 2: Descargar el dataset directamente desde GitHub
url = "https://github.com/owid/co2-data/raw/master/owid-co2-data.csv"
df = pd.read_csv(url)

# PASO 3: Ver las primeras filas
df.head()

,country,year,iso_code,population,gdp,cement_co2,cement_co2_per_capita,co2,co2_growth_abs,co2_growth_prct,...,share_global_other_co2,share_of_temperature_change_from_ghg,temperature_change_from_ch4,temperature_change_from_co2,temperature_change_from_ghg,temperature_change_from_n2o,total_ghg,total_ghg_excluding_lucf,trade_co2,trade_co2_share
0,Afghanistan,1750,AFG,2802560.0,NaN,0.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,1751,AFG,NaN,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,1752,AFG,NaN,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,1753,AFG,NaN,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,1754,AFG,NaN,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
# Ver el tamaño del dataset (filas y columnas)
print("Dimensión del dataset (filas, columnas):", df.shape)

# Ver los nombres de las columnas disponibles
print("\nColumnas del dataset:")
print(df.columns.tolist())

Dimensión del dataset (filas, columnas): (50191, 79)

Columnas del dataset:
['country', 'year', 'iso_code', 'population', 'gdp', 'cement_co2', 'cement_co2_per_capita', 'co2', 'co2_growth_abs', 'co2_growth_prct', 'co2_including_luc', 'co2_including_luc_growth_abs', 'co2_including_luc_growth_prct', 'co2_including_luc_per_capita', 'co2_including_luc_per_gdp', 'co2_including_luc_per_unit_energy', 'co2_per_capita', 'co2_per_gdp', 'co2_per_unit_energy', 'coal_co2', 'coal_co2_per_capita', 'consumption_co2', 'consumption_co2_per_capita', 'consumption_co2_per_gdp', 'cumulative_cement_co2', 'cumulative_co2', 'cumulative_co2_including_luc', 'cumulative_coal_co2', 'cumulative_flaring_co2', 'cumulative_gas_co2', 'cumulative_luc_co2', 'cumulative_oil_co2', 'cumulative_other_co2', 'energy_per_capita', 'energy_per_gdp', 'flaring_co2', 'flaring_co2_per_capita', 'gas_co2', 'gas_co2_per_capita', 'ghg_excluding_lucf_per_capita', 'ghg_per_capita', 'land_use_change_co2', 'land_use_change_co2_per_capita', 'methane', 'methane_per_capita', 'nitrous_oxide', 'nitrous_oxide_per_capita', 'oil_co2', 'oil_co2_per_capita', 'other_co2_per_capita', 'other_industry_co2', 'primary_energy_consumption', 'share_global_cement_co2', 'share_global_co2', 'share_global_co2_including_luc', 'share_global_coal_co2', 'share_global_cumulative_cement_co2', 'share_global_cumulative_co2', 'share_global_cumulative_co2_including_luc', 'share_global_cumulative_coal_co2', 'share_global_cumulative_flaring_co2', 'share_global_cumulative_gas_co2', 'share_global_cumulative_luc_co2', 'share_global_cumulative_oil_co2', 'share_global_cumulative_other_co2', 'share_global_flaring_co2', 'share_global_gas_co2', 'share_global_luc_co2', 'share_global_oil_co2', 'share_global_other_co2', 'share_of_temperature_change_from_ghg', 'temperature_change_from_ch4', 'temperature_change_from_co2', 'temperature_change_from_ghg', 'temperature_change_from_n2o', 'total_ghg', 'total_ghg_excluding_lucf', 'trade_co2', 'trade_co2_share']

In [4]:
# Ver los tipos de datos de cada columna
print("\nTipos de datos por columna:")
print(df.dtypes)

Tipos de datos por columna:
country                         object
year                             int64
iso_code                        object
population                     float64
gdp                            float64
                                ...
temperature_change_from_n2o    float64
total_ghg                      float64
total_ghg_excluding_lucf       float64
trade_co2                      float64
trade_co2_share                float64
Length: 79, dtype: object

In [5]:
# Ver si hay valores nulos (datos faltantes)
print("\nCantidad de valores nulos por columna:")
print(df.isnull().sum().sort_values(ascending=False).head(15))

Cantidad de valores nulos por columna:
share_global_cumulative_other_co2    48083
share_global_other_co2               48083
other_co2_per_capita                 47717
cumulative_other_co2                 46989
other_industry_co2                   46989
consumption_co2_per_gdp              45747
consumption_co2_per_capita           45689
trade_co2                            45656
trade_co2_share                      45656
consumption_co2                      45325
energy_per_gdp                       42495
co2_including_luc_per_unit_energy    40490
energy_per_capita                    40082
primary_energy_consumption           40040
co2_per_unit_energy                  39841
dtype: int64

In [6]:
# Ver una muestra de países únicos
print("\nAlgunos países del dataset:")
print(df['country'].dropna().unique()[:10])

# Ver rango de años
print("\nRango de años:", df['year'].min(), "-", df['year'].max())

Algunos países del dataset:
['Afghanistan' 'Africa' 'Africa (GCP)' 'Albania' 'Algeria' 'Andorra'
 'Angola' 'Anguilla' 'Antarctica' 'Antigua and Barbuda']

Rango de años: 1750 - 2023

In [7]:
# Ver el tamaño del dataset (número de filas y columnas)
print("Dimensión del dataset (filas, columnas):", df.shape)

# Ver los nombres de las columnas disponibles
print("\nColumnas del dataset:")
print(df.columns.tolist())

Dimensión del dataset (filas, columnas): (50191, 79)

Columnas del dataset:
['country', 'year', 'iso_code', 'population', 'gdp', 'cement_co2', 'cement_co2_per_capita', 'co2', 'co2_growth_abs', 'co2_growth_prct', 'co2_including_luc', 'co2_including_luc_growth_abs', 'co2_including_luc_growth_prct', 'co2_including_luc_per_capita', 'co2_including_luc_per_gdp', 'co2_including_luc_per_unit_energy', 'co2_per_capita', 'co2_per_gdp', 'co2_per_unit_energy', 'coal_co2', 'coal_co2_per_capita', 'consumption_co2', 'consumption_co2_per_capita', 'consumption_co2_per_gdp', 'cumulative_cement_co2', 'cumulative_co2', 'cumulative_co2_including_luc', 'cumulative_coal_co2', 'cumulative_flaring_co2', 'cumulative_gas_co2', 'cumulative_luc_co2', 'cumulative_oil_co2', 'cumulative_other_co2', 'energy_per_capita', 'energy_per_gdp', 'flaring_co2', 'flaring_co2_per_capita', 'gas_co2', 'gas_co2_per_capita', 'ghg_excluding_lucf_per_capita', 'ghg_per_capita', 'land_use_change_co2', 'land_use_change_co2_per_capita', 'methane', 'methane_per_capita', 'nitrous_oxide', 'nitrous_oxide_per_capita', 'oil_co2', 'oil_co2_per_capita', 'other_co2_per_capita', 'other_industry_co2', 'primary_energy_consumption', 'share_global_cement_co2', 'share_global_co2', 'share_global_co2_including_luc', 'share_global_coal_co2', 'share_global_cumulative_cement_co2', 'share_global_cumulative_co2', 'share_global_cumulative_co2_including_luc', 'share_global_cumulative_coal_co2', 'share_global_cumulative_flaring_co2', 'share_global_cumulative_gas_co2', 'share_global_cumulative_luc_co2', 'share_global_cumulative_oil_co2', 'share_global_cumulative_other_co2', 'share_global_flaring_co2', 'share_global_gas_co2', 'share_global_luc_co2', 'share_global_oil_co2', 'share_global_other_co2', 'share_of_temperature_change_from_ghg', 'temperature_change_from_ch4', 'temperature_change_from_co2', 'temperature_change_from_ghg', 'temperature_change_from_n2o', 'total_ghg', 'total_ghg_excluding_lucf', 'trade_co2', 'trade_co2_share']

In [8]:
# Ver los tipos de datos por columna
print("Tipos de datos por columna:")
print(df.dtypes.value_counts())

Tipos de datos por columna:
float64    76
object      2
int64       1
Name: count, dtype: int64

In [9]:
# Ver las columnas que son tipo "object" (texto)
object_columns = df.select_dtypes(include='object').columns.tolist()
print("Columnas tipo texto (object):")
print(object_columns)

Columnas tipo texto (object):
['country', 'iso_code']

In [10]:
# Ver cantidad de valores nulos por columna (de mayor a menor)
nulos = df.isnull().sum().sort_values(ascending=False)

# Mostrar solo las 20 columnas con más nulos
print("Columnas con más valores faltantes:")
print(nulos.head(20))

Columnas con más valores faltantes:
share_global_cumulative_other_co2      48083
share_global_other_co2                 48083
other_co2_per_capita                   47717
cumulative_other_co2                   46989
other_industry_co2                     46989
consumption_co2_per_gdp                45747
consumption_co2_per_capita             45689
trade_co2                              45656
trade_co2_share                        45656
consumption_co2                        45325
energy_per_gdp                         42495
co2_including_luc_per_unit_energy      40490
energy_per_capita                      40082
primary_energy_consumption             40040
co2_per_unit_energy                    39841
share_global_flaring_co2               39322
share_global_cumulative_flaring_co2    39322
flaring_co2_per_capita                 35497
share_global_cumulative_gas_co2        35157
share_global_gas_co2                   35157
dtype: int64

In [11]:
# Calcular porcentaje de nulos por columna
porcentaje_nulos = df.isnull().mean()

# Filtrar columnas con más del 80% de nulos
columnas_muy_nulas = porcentaje_nulos[porcentaje_nulos > 0.8].index.tolist()

print("Columnas con más del 80% de valores nulos:")
print(columnas_muy_nulas)

Columnas con más del 80% de valores nulos:
['co2_including_luc_per_unit_energy', 'consumption_co2', 'consumption_co2_per_capita', 'consumption_co2_per_gdp', 'cumulative_other_co2', 'energy_per_gdp', 'other_co2_per_capita', 'other_industry_co2', 'share_global_cumulative_other_co2', 'share_global_other_co2', 'trade_co2', 'trade_co2_share']

In [12]:
# Eliminar columnas con más del 80% de nulos
df_clean = df.drop(columns=columnas_muy_nulas)

# Confirmar nueva dimensión del dataset
print("Dimensión después de eliminar columnas innecesarias:", df_clean.shape)

Dimensión después de eliminar columnas innecesarias: (50191, 67)

In [13]:
# ¿Hay filas duplicadas exactas?
duplicados = df_clean.duplicated().sum()
print("Filas duplicadas encontradas:", duplicados)

# Eliminar duplicados si hay
df_clean = df_clean.drop_duplicates()

Filas duplicadas encontradas: 0

In [14]:
# Ver los valores únicos de la columna "country"
paises = df_clean['country'].unique()
print("Cantidad total de países/regiones:", len(paises))
print("Ejemplos de países/regiones:", paises[:10])

Cantidad total de países/regiones: 255
Ejemplos de países/regiones: ['Afghanistan' 'Africa' 'Africa (GCP)' 'Albania' 'Algeria' 'Andorra'
 'Angola' 'Anguilla' 'Antarctica' 'Antigua and Barbuda']

In [16]:
# Filtrar datos desde el año 2000 en adelante (más relevante para análisis actual)
df_clean = df_clean[df_clean['year'] >= 2000]

In [17]:
df_clean.shape

(6120, 67)

In [18]:
!pip install -q pyarrow

In [19]:
df_clean.to_parquet("co2_emisiones_limpio.parquet", index=False)